<div class="mt-3">
    <div class="mb-3">
        <h2>Iphdr of Snort</h2>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar mt-2">
        <table class="table table-bordered table-striped table-hover mb-0">
            <thead>
                <tr class="table-success">
                    <th>#</th>
                    <th>Cid</th>
                    <th>IP nguồn</th>
                    <th>IP đích</th>
                    <th>IP_id</th>
                    <th>IP_csum</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = ip.length - 1; i >= 0 ; i--) { %>
                <tr>
                    <td><%= ip.length - i %></td>
                    <td><%= ip[i].cid %> </td>
                    <td><%= ip_src[i] %> </td>
                    <td><%= ip_dst[i] %> </td>
                    <td><%= ip[i].ip_id %> </td>
                    <td><%= ip[i].ip_csum %> </td>
                </tr>
                <% }; %>
            </tbody>

        </table>
    </div>

</div>