<div class="mt-3">
    <div class="mb-3">
        <h2>Signature of Snort</h2>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar mt-2">
        <table class="table table-bordered table-striped table-hover mb-0">
            <thead>
                <tr class="table-success">
                    <th>#</th>
                    <th>Sig_id</th>
                    <th>Sig_name</th>
                    <th>Sig_sid</th>
                    <th>Sig_gid</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = sig.length - 1; i >= 0 ; i--) { %>
                <tr>
                    <td><%= sig.length - i %></td>
                    <td><%= sig[i].sig_id %> </td>
                    <td><%= sig[i].sig_name %> </td>
                    <td><%= sig[i].sig_sid %> </td>
                    <td><%= sig[i].sig_gid %> </td>
                </tr>
                <% }; %>
            </tbody>
        </table>
    </div>
</div>
<div class="mt-3">
    <h2>Dấu hiệu nhận biết các kiểu tấn công:</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-success">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Signature</th>
                <th scope="col">Sig_sid</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>524</td>
                <td>2000001</td>
                <td>SYN Scan</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>535</td>
                <td>10000001</td>
                <td>ICMP Test</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>536</td>
                <td>1000099</td>
                <td>Ping of Death</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>537</td>
                <td>1000101</td>
                <td>Smurf</td>
            </tr>
        </tbody>
    </table>
</div>