<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <%- include('partials/home') %>
                </div>
                
                <div class="tab-pane fade show active" id="event" role="tabpanel" aria-labelledby="event-tab">
                    <%- include('partials/event') %>
                </div>
                <div class="tab-pane fade" id="signature" role="tabpanel" aria-labelledby="signature-tab">
                    <%- include('partials/signature') %>
                </div>
                <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                    <%- include('partials/email') %>
                </div>
            </div>
        </div>

    </main>

    <script src="./js/snort.js"></script>
</body>

</html>